body,
html {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    width: 100%;
}

* {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    max-height: 200vh;
    border-top: 5px double #3C3633;
}

.sectionContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #000000;
    position: relative;
    background-image: url('/img/fotoCentral/pexels-terje-sollie-313707.jpg');
    background-size: cover;
    background-position: center;
    animation: changeBackground 15s infinite;
    padding-top: 150px;
}

@keyframes changeBackground {
    0% {
        background-image: url('/img/fotoCentral/pexels-terje-sollie-313707.jpg');
    }

    33% {
        background-image: url('/img/fotoCentral/Getty.jpeg');
    }

    66% {
        background-image: url('/img/fotoCentral/4bf2ae67s9nz.webp');
    }
}

.titleMain {
    color: #E0CCBE;
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px #000000;
}

.buttonMain {
    background-color: #000000;
    color: #E0CCBE;
    border: solid 0.5px #000000;
    padding: 10px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.buttonMain:hover {
    background-color: #E0CCBE;
    color: #000000;
}

.aButtonMain {
    text-decoration: none;
    font-weight: bold;
}


.sectionContainer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    background-color: #E0CCBE;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 10rem;
}

.logoNav {
    width: 100%;
    margin-right: 1rem;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.navbar-items {
    margin-left: 6rem;
}

.nav-item {
    margin-right: 1rem;
}

.navbar-link {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease;
    color: #747264;
}

.navbar-link:hover {
    color: #3C3633;
}

.navbar-search {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 0.5rem;
    border: 2px solid #747264;
    border-radius: 0.25rem;
    background-color: #E0CCBE;
    color: #000000;
}

.search-input::placeholder {
    color: #000000;
    font-size: 13px;
    font-weight: bold;
}

.footerContainer {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
    border-top: solid 1px #E0CCBE;
}

.footerDivContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerItemContainer {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 0;
}

.footerItemContainer h6 {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.footerItemContainer h4 {
    margin-left: 20px;
    margin-right: 22px;
    text-align: center;
}

.footerItemContainer a {
    margin-left: 7px;
    margin-right: 7px;
    text-decoration: none;
}

.footerLogo {
    width: 250px;
    margin-right: 20px;
}

.footerDivItem h4 {
    color: #E0CCBE;
    font-size: medium;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-brand {
        margin-bottom: 1rem;
    }

    .navbar-brand img {
        width: 100%;
    }

    .navbar-nav {
        width: 100%;
    }

    .navbar-link {
        margin-bottom: 0.5rem;/
    }

    .search-input {
        margin-top: 0.5rem;
    }

    .footerLogo {
        display: none;
    }

    .footerDivContainer {
        text-align: center;
        padding: auto;
        margin: auto;
        justify-content: center;
        padding-bottom: 30px;
    }

    .container {
        flex-direction: column;
        align-items: flex-center;
    }

    .navbar-search {
        margin-top: 0.3rem;
        height: 20px;
    }

    .divBotonLogin {
        margin-top: 0.8rem;
    }

    .containerBotonesCuenta {
padding-top: 1rem;
    }

    .divLogoMiCuenta {
        padding-top: 1rem;
    }

    .titleMain {
        font-size: 2rem;
    }

    .sectionContainer {
        margin-top: 0;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .navbar {
        flex-direction: row;
        align-items: start;
    }

    .navbar-brand {
        width: 20%;
    }

    .navbar-brand img {
        width: 100%;
    }

    .navbar-nav {
        width: auto;
    }

    .navbar-link {
        margin-bottom: 0;
    }

    .footerDivContainer {
        text-align: left;
        justify-content: space-between;
    }

    .container {
        flex-direction: row;
        align-items: center;
    }

    .navbar-search {
        margin-top: 0;
    }

    .titleMain {
        font-size: 2.5rem;
    }

    .navbar-items {
        margin-right: 60px;
    }
}

@media (min-width: 1024px) {
    .navbar-items {
        margin-right: 60px;
    }
}

.titulo {
    font-size: 5rem;
}

.texto {
    font-size: 1.5rem;
}

.texto1 {
    font-size: 1.5rem;
    text-align: start;
}

.containerNosotros {
    text-align: center;
    border-top: 5px double #3C3633;
}

.containerNosotros1 {
    text-align: center;
    margin-left: 6rem;
    margin-right: 6rem;
}

.containerNosotros img {
    text-align: center;
    width: 100%;
}

.containerFilosofia {
    text-align: center;
    margin-top: 8rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.containerFilosofia img {
    text-align: center;
    width: 20%;
}

.containerConocenos {
    text-align: center;
    margin-top: 8rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.containerConocenos img {
    text-align: center;
    width: 30%;
}

.containerElegirnos {
    text-align: center;
    margin-top: 8rem;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 4rem;
}

.containerElegirnos1 {
    margin-left: 25rem;
}

li.elegirnos-lista {
    list-style-type: square;
}

.containerElegirnos img {
    text-align: center;
    width: 40%;
}

@media (max-width: 768px) {
    .containerElegirnos1 {
        margin: 0;
    }

    .titulo {
        font-size: 3rem;
    }
}

.error-message {
    display: none;
    color: red;
    text-shadow: #3c3633 1px 1px;
    margin: 0;
    margin-bottom: 2%;
    font-size: small;
}

.mainContainerContactUs {
    background-color: #ffffff;
    height: 45rem;
    padding-bottom: 10%;
    border-top: 5px double #3C3633;
}

.h4Información {
    color: #000000;
    text-shadow: #e0ccbe 2px 2px;
    font-weight: bold;
    text-align: center;
}

.h4envianosunmensaje {
    color: #000000;
    text-shadow: #e0ccbe 2px 2px;
    font-weight: bold;
    text-align: center;
}

.mapa {
    width: 100%;
    height: 63%;
}

.iconoinfodecontacto {
    padding-right: 1%;
}

.redesSociales {
    text-align: center;
    padding: 2px;
}

.contenedormayor {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.h1contactate {
    text-align: center;
    color: #000000;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.spannombredelblogh1 {
    color: #e0ccbe;
    text-shadow: #747264 1px 1px;
}

.contenedorparahacercolumnas {
    box-shadow: 0 0 5px 0 rgb(224, 204, 190);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 40rem;
}

.contenedorinfodecontacto {
    background-image: linear-gradient(#eeedeb, #eeedeb, #e0ccbe, #e0ccbe);
    padding: 15px;
}

.contenedorformulariodecontacto {
    background-image: linear-gradient(#e0ccbe, #e0ccbe, #eeedeb, #eeedeb);
    padding: 15px;
}

.formdeenvianosunmensaje {
    margin: 0;
    padding: 2px;
}

.inputform {
    width: 100%;
    height: 20px;
    border: none;
    border-bottom: 1px solid #e0ccbe;
    background: none;
    outline: none;
    color: #eeedeb;
    margin-bottom: 1%;
    padding-left: 4px;
}

.textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e0ccbe;
    background: none;
    outline: none;
    color: #eeedeb;
    padding-left: 4px;
}

.botondeenviar {
    width: 100%;
    background-color: #000000;
    color: #e0ccbe;
    border: solid 0.5px #000000;
    padding: 10px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    margin-top: 6%;
}

.divdeimputytextarea input {
    color: #000000;
}

.divdeimputytextarea textarea {
    color: #000000;
}

.botondeenviar:hover {
    background-color: #e0ccbe;
    color: #000000;
}

.listadodeinformaciondecontacto {
    list-style: none;
    text-align: start;
    padding: 0;
}

.listadodeinformaciondecontacto i {
    margin-right: 1%;
}

.divparaacomodareltitulo {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
}

.informaciondecontactoyredessociales {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: medium;
}

@media (max-width: 768px) {
    .contenedorparahacercolumnas {
        display: grid;
        grid-template-columns: 1fr;
        height: 76rem;
    }

    .mapa {
        width: 100%;
        height: 45%;
    }

    .mainContainerContactUs {
        height: 88rem;
        padding-bottom: 50%;
    }

    .divparaacomodareltitulo {
        padding-left: 8%;
        padding-right: 8%;
        height: 74rem;
    }

    .sectionContainerContactUs {
        height: 49rem;
    }

    .contenedorformulariodecontacto {
        border-top: 1px solid #eeedeb;
        height: 46rem;
    }

    .contenedorinfodecontacto {
        height: 32rem;
        padding-bottom: 5rem;
    }

    .botondeenviar {
        margin-top: 5rem;
    }

    .redesSociales {
        padding-top: 0.1rem;
        padding-bottom: 0.5rem;
    }

    .informaciondecontactoyredessociales {
        grid-template-columns: 1fr;
    }

    .listadodeinformaciondecontacto {
        text-align: center;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

::placeholder {
    color: rgba(136, 135, 135, 0.815);
    font-size: 1, 1em;
    font-weight: 1000;
}

.botonAdmin {
    display: none;
}

#botonCerrarSesion {
    display: none;
}

.select-motivo {
    height: 20px;
    border: none;
    border-bottom: 1px solid #e0ccbe;
    background: none;
    outline: none;
    color: #999;
    margin-bottom: 1%;
    font-size: 14px;
    font-weight: bold;
}

.select-motivo option {
    height: 20px;
    border: none;
    border-bottom: 1px solid #e0ccbe;
    background: none;
    outline: none;
    color: #999;
    margin-bottom: 1%;
    font-size: 14px;
    background-color: #e0ccbe;
    font-weight: bold;
}

.imagen-formulario {
    width: 200px;
    height: 80px;
}

.checkbox input {
    width: 11px;
    height: 11px;
}

.checkbox label {
    font-size: 14px;
    font-weight: bold;
    color: #999;
}

.checkAndImage {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}


.mainShop {
    width: 100%;
    margin-bottom: 5em;
    border-top: 5px double #3C3633;
}

.shopTitle {
    text-align: center;
    font-size: 4em;
}

.containerShop {
    display: flex;
    justify-content: center;
}

.containerShop img {
    width: 26em;
    margin: 2px;
    height: 40em;
    transition: 0.10s ease;
    backface-visibility: hidden;
}

.imagenShop:hover {
    transition: 0.10s;
    filter: opacity(40%);
}

.item-shop {
    position: relative;
    display: inline-block;
    text-align: center;
}

.textoImagen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E0CCBE;
    filter: drop-shadow(8px 8px 5px #747264);
}

.shopLinks {
    color: #3C3633;
    background-color: transparent;
    text-decoration: none;
}

.sectionShop {
    margin: 0 auto;
    max-width: 70rem;
    width: 100%;
}

.fraseShop {
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px 5px #3C3633;
    font-family: "Dancing Script", cursive;
    font-style: normal;
}

.shopSubtitle {
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 2px 5px #3C3633;
}

.subtitleShoes {
    padding-top: 3em;
}

.containerGaleriasVestidos {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 2em;
    grid-row-gap: 7em;
    justify-content: center;
}

.containerGaleriasVestidos div {
    width: 100%;
    height: 100%;
}

.containerGaleriasVestidos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.divButtonShop {
    text-align: center;
}

.buttonPrecio {
    border: none;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    background-color: #E0CCBE;
    font-size: 20px;
}

.buttonPrecio:hover {
    background: #eee1d8;
}

.containerGaleriasCalzado {
    display: flex;
    width: 100%;
}

.listaImagenes img {
    width: 30%;
    object-fit: cover;
    margin: auto;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
}

.listaImagenes {
    display: flex;
    width: 100%;
    align-content: center;
}

.listaImagenes2 {
    display: flex;
    width: 100%;
    align-content: center;
    margin: auto;
    padding-top: 5em;
}

.listaImagenes2 img {
    width: 19%;
    object-fit: cover;
    padding: 5px;
}

.containerGaleriasAccesorios {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    justify-content: center;
    margin: auto;
    grid-column-gap: 2em;
    grid-row-gap: 7em;
    padding-bottom: 8em;
}

.containerGaleriasAccesorios img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.divBotonLogin {
    margin-bottom: 0.25rem;
}

.botonLogin {
    width: 100%;
    background-color: #000000;
    color: #e0ccbe;
    border: solid 0.5px #000000;
    padding: 10px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    margin-top: 6%;
}

.botonLogin:hover {
    background-color: #e0ccbe;
    color: #000000;
}

.divLogoMiCuenta {
    margin-top: 0.15rem;
}

.logoMiCuenta {
    background-color: #e0ccbe;
    border: none;
    cursor: pointer;
}


.logoMiCuenta img {
    width: 30px; 
    height: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 78px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    width: 100%;
    text-align: center;
    padding: 4px 6px;
    border: solid 0.1px #3C3633;
    border-radius: 2px;
    background-color: #000000;
    color: #e0ccbe;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #e0ccbe;
    color: #000000;
}

.containerBotonesCuenta {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding-right: 0.5rem;
}

.divLogoMiCuentaImg {
margin-left: 20px;
}

.divLogoMiCuentaImg img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.formRegister{
    margin: 20px auto;
    max-width: 400px;
}

.titleRegister{
    text-align: center;
    font-size: 4em;
    color: #3C3633;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
  
.bodyRegister{
    background-image: linear-gradient(#e0ccbe, #e0ccbe, #eeedeb, #eeedeb);
} 

.mainRegister{
   background-image: linear-gradient(#e0ccbe, #e0ccbe, #eeedeb, #eeedeb);
   border-top: 5px double #3C3633;
   padding-bottom: 5em;
}

.submitRegister{
    background-color: #000000;
    color: #e0ccbe;
    border: solid 0.5px #000000;
    padding: 10px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    margin-top: 6%;
}

.submitRegister:hover{
    background-color: #e0ccbe;
    color: #000000;

}
.formRegister button, label, input, select{
    display: block;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    height: 30px;
}

.password-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%; 
    margin: 0;
}
.password-input-wrapper {
    width: 100%;
    position: relative;
}

.password-input {
    width: 100%;
    padding-right: 30px; 
    box-sizing: border-box; 
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
} 

.formRegister input, 
select{
  box-shadow: inset 1px 1px 3px #ccc;
  border-radius: 5px;
}

.formRegister label{
  margin-bottom: 5px;
}


.errorRegister{
  width: 200px;
  text-align: center;
  color: red;
  font-weight: bold;
}

.modalRegister {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modalContent {
    background-color: #3C3633;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    color: #ffffff;
    text-align: center;
}

.closeRegister {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeRegister:hover,
.closeRegister:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.formUpdateData{
    margin: 20px auto;
    max-width: 400px;
}

.titleUpdateData{
    text-align: center;
    font-size: 4em;
    color: #3C3633;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
  
.bodyUpdateData{
    background-image: linear-gradient(#e0ccbe, #e0ccbe, #eeedeb, #eeedeb);
} 

.mainUpdateData{
   background-image: linear-gradient(#e0ccbe, #e0ccbe, #eeedeb, #eeedeb);
   border-top: 5px double #3C3633;
   padding-bottom: 5em;
}

.submitUpdateData{
    background-color: #000000;
    color: #e0ccbe;
    border: solid 0.5px #000000;
    padding: 10px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    margin-top: 6%;
}

.submitUpdateData:hover{
    background-color: #e0ccbe;
    color: #000000;

}
.formUpdateData button, label, input, select{
    display: block;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    height: 30px;
}

.passwordContainerUpdateData {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%; 
    margin: 0;
}
.passwordInputWrapperUpdateData {
    width: 100%;
    position: relative;
}

.passwordInputUpdateData {
    width: 100%;
    padding-right: 30px; 
    box-sizing: border-box; 
}

.togglePasswordUpdateData {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
} 

.formUpdateData input, 
select{
  box-shadow: inset 1px 1px 3px #ccc;
  border-radius: 5px;
}

.formUpdateData label{
  margin-bottom: 5px;
}


.errorUpdateData{
  width: 200px;
  text-align: center;
  color: red;
  font-weight: bold;
}

.modalUpdateData {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modalContent {
    background-color: #3C3633;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    color: #ffffff;
    text-align: center;
}

.closeUpdateData {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeUpdateData:hover,
.closeUpdateData:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media (max-width: 768px) {

    .containerGaleriasVestidos {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, auto);
        grid-gap: 1em;
        justify-content: center;
    }

    .shopTitle {
        text-align: center;
        font-size: 2em;
        width: 100%;
    }

    .item-shop img {
        width: 8em;
        height: 12em;
    }

    .textoImagen {
        font-size: medium;
    }

    .fraseShop {
        text-align: center;
        font-size: 2em;
        text-shadow: 2px 2px 5px #3C3633;
        font-family: "Dancing Script", cursive;
        font-style: normal;
    }

    .shopSubtitle {
        font-size: large;
    }
}

/* 

    
  input[type="text" ], 
  select{
    box-shadow: inset 1px 1px 3px #ccc;
    border-radius: 5px;
  }
  
  input[type="password" ]{
    box-shadow: inset 1px 1px 3px #ccc;
    border-radius: 5px;
  } 
  
  label{
    margin-bottom: 5px;
  }
    
  button{
    width: 60%;
    margin: 0 auto; 
  }
  
  .error{
    width: 200px;
    text-align: center;
    color: red;
    font-weight: bold;
    
  }
  
  